## time 모듈

In [1]:
import time

In [3]:
time.time()

1748567715.5145478

In [5]:
lt = time.localtime(time.time())
lt

time.struct_time(tm_year=2025, tm_mon=5, tm_mday=30, tm_hour=10, tm_min=17, tm_sec=24, tm_wday=4, tm_yday=150, tm_isdst=0)

In [6]:
print(lt.tm_year, lt.tm_mon, lt.tm_mday)

2025 5 30

In [7]:
time.asctime(lt)

'Fri May 30 10:17:24 2025'

In [8]:
time.ctime()

'Fri May 30 10:35:54 2025'

In [10]:
strdate = time.strftime('%Y.%m.%d %H:%M', lt)
strdate

'2025.05.30 10:17'

In [11]:
time.strftime('%Y,%m,%d %H:%M') # 현재 날짜 시간 기준

'2025,05,30 10:43'

In [12]:
for i in range(1, 11):
    print(i)
    time.sleep(1) # 1초 지연

1
2
3
4
5
6
7
8
9
10

In [13]:
# 사탕 60, 초콜릿 100, 젤리 80개 있는데, 똑같은 묶음으로 최대 몇 묶음 나눌 수 있는지 구하시오.
import math

In [14]:
math.gcd(60 ,100, 80)

20

In [15]:
# 시내버스가 15분마다 도착, 마을 버스는 25분마다 도착, 서로 만나는 빠른 시간?
math.lcm(15, 25)

75

In [16]:
import random

In [ ]:
random.random() * 3 # 규칙 곱하는 수보다 작은 수가 정수부에서 반복 0~2

1.8792367978140494

In [400]:
int(random.random()*3)

2

In [674]:
random.randint(0,10)

4

In [675]:
fruits = ['Apple','Melon','Pear','Banana','Mango']

In [726]:
random.choice(fruits)

'Banana'

In [731]:
random.sample(fruits, 3)

['Apple', 'Melon', 'Mango']

In [738]:
students = ['a','b','c','d','e','f','g','h']

In [741]:
import itertools
students2 = random.sample(students, len(students))
# random.shuffle(students) 원본 데이터가 변경
gifts = ['RTX','맥북','사랑']
# data = list(zip(students,gifts))
# data
data = itertools.zip_longest(students2,gifts, fillvalue='사탕')
list(data)

[('d', 'RTX'),
 ('e', '맥북'),
 ('a', '사랑'),
 ('h', '사탕'),
 ('c', '사탕'),
 ('g', '사탕'),
 ('f', '사탕'),
 ('b', '사탕')]

In [742]:
nums = [1, 2, 3, 4]

In [748]:
import itertools
a = list(itertools.permutations(nums, 2))
a

[(1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3)]

In [747]:
b = list(itertools.combinations(nums,2))
b

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [751]:
c = list(itertools.combinations_with_replacement(nums,3))
c

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 1, 4),
 (1, 2, 2),
 (1, 2, 3),
 (1, 2, 4),
 (1, 3, 3),
 (1, 3, 4),
 (1, 4, 4),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 4),
 (2, 3, 3),
 (2, 3, 4),
 (2, 4, 4),
 (3, 3, 3),
 (3, 3, 4),
 (3, 4, 4),
 (4, 4, 4)]

In [752]:
import functools

In [753]:
nums = list(range(1, 101))
nums[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [754]:
def acc_sum(acc, num):
    print(f"acc:{acc}, num:{num}")
    acc += num
    return acc

In [756]:
result = functools.reduce(acc_sum, nums)
result

acc:1, num:2
acc:3, num:3
acc:6, num:4
acc:10, num:5
acc:15, num:6
acc:21, num:7
acc:28, num:8
acc:36, num:9
acc:45, num:10
acc:55, num:11
acc:66, num:12
acc:78, num:13
acc:91, num:14
acc:105, num:15
acc:120, num:16
acc:136, num:17
acc:153, num:18
acc:171, num:19
acc:190, num:20
acc:210, num:21
acc:231, num:22
acc:253, num:23
acc:276, num:24
acc:300, num:25
acc:325, num:26
acc:351, num:27
acc:378, num:28
acc:406, num:29
acc:435, num:30
acc:465, num:31
acc:496, num:32
acc:528, num:33
acc:561, num:34
acc:595, num:35
acc:630, num:36
acc:666, num:37
acc:703, num:38
acc:741, num:39
acc:780, num:40
acc:820, num:41
acc:861, num:42
acc:903, num:43
acc:946, num:44
acc:990, num:45
acc:1035, num:46
acc:1081, num:47
acc:1128, num:48
acc:1176, num:49
acc:1225, num:50
acc:1275, num:51
acc:1326, num:52
acc:1378, num:53
acc:1431, num:54
acc:1485, num:55
acc:1540, num:56
acc:1596, num:57
acc:1653, num:58
acc:1711, num:59
acc:1770, num:60
acc:1830, num:61
acc:1891, num:62
acc:1953, num:63
acc:2016, num:64
acc:2080, num:65
acc:2145, num:66
acc:2211, num:67
acc:2278, num:68
acc:2346, num:69
acc:2415, num:70
acc:2485, num:71
acc:2556, num:72
acc:2628, num:73
acc:2701, num:74
acc:2775, num:75
acc:2850, num:76
acc:2926, num:77
acc:3003, num:78
acc:3081, num:79
acc:3160, num:80
acc:3240, num:81
acc:3321, num:82
acc:3403, num:83
acc:3486, num:84
acc:3570, num:85
acc:3655, num:86
acc:3741, num:87
acc:3828, num:88
acc:3916, num:89
acc:4005, num:90
acc:4095, num:91
acc:4186, num:92
acc:4278, num:93
acc:4371, num:94
acc:4465, num:95
acc:4560, num:96
acc:4656, num:97
acc:4753, num:98
acc:4851, num:99
acc:4950, num:100

5050

In [782]:
result = functools.reduce(lambda a, b: a+b, nums)
result

5050

In [774]:
scores = [random.randint(50, 100) for _ in range(10)]

In [775]:
scores

[67, 93, 66, 53, 63, 66, 73, 83, 79, 67]

In [779]:
def min_score(a,b):
    print(f"a:{a}, b:{b}")
    score = a if a < b else b
    return score

In [780]:
min = functools.reduce(min_score, scores)
min

a:67, b:93
a:67, b:66
a:66, b:53
a:53, b:63
a:53, b:66
a:53, b:73
a:53, b:83
a:53, b:79
a:53, b:67

53

In [781]:
max = functools.reduce(lambda a, b: a if a>=b else b, scores)
max

93

In [787]:
students = [
    ('이이름', 40, '컴퓨터과학'),
    ('김이름', 20, '영어영문학'),
    ('박이름', 24, '독어독문학')
]

In [788]:
import operator

In [789]:
students2 = sorted(students, key=operator.itemgetter(2))
students2

[('박이름', 24, '독어독문학'), ('김이름', 20, '영어영문학'), ('이이름', 40, '컴퓨터과학')]

In [791]:
students = [
    {"name": '이이름',"age": 40,"major": '컴퓨터과학'},
    {"name": '김이름',"age": 20,"major": '영어영문학'},
    {"name": '박이름',"age": 24,"major": '독어독문학'}
]

In [792]:
students2 = sorted(students, key=operator.itemgetter('name'))
students2

[{'name': '김이름', 'age': 20, 'major': '영어영문학'},
 {'name': '박이름', 'age': 24, 'major': '독어독문학'},
 {'name': '이이름', 'age': 40, 'major': '컴퓨터과학'}]

In [793]:
class Student:
    def __init__(self, name, age, major):
        self.name = name
        self.age = age
        self.major = major

    def __str__(self):
        return f"name:{self.name}, age:{self.age}, major:{self.major}"

In [794]:
students = [
    Student('이이름', 40, '컴퓨터과학'),
    Student('김이름', 20, '영어영문학'),
    Student('박이름', 24, '독어독문학')
]

In [795]:
students2 = sorted(students, key=operator.attrgetter('major'))
for item in students2:
    print(item)

name:박이름, age:24, major:독어독문학
name:김이름, age:20, major:영어영문학
name:이이름, age:40, major:컴퓨터과학

In [796]:
from glob import glob

In [798]:
files = glob("C:/Prog*")
for file in files:
    print(file)

C:/Program Files
C:/Program Files (x86)
C:/ProgramData

In [799]:
import pickle

In [800]:
with open("C:/python_data/students.txt", 'wb') as f:
    pickle.dump(students2, f)

In [801]:
with open("C:/python_data/students.txt", 'rb') as f:
    students3 = pickle.load(f)
    for item in students3:
        print(item)

name:박이름, age:24, major:독어독문학
name:김이름, age:20, major:영어영문학
name:이이름, age:40, major:컴퓨터과학

In [802]:
import os

In [ ]:
os.system("dir")

In [807]:
import json
students = [
    {"name": '이이름',"age": 40,"major": '컴퓨터과학'},
    {"name": '김이름',"age": 20,"major": '영어영문학'},
    {"name": '박이름',"age": 24,"major": '독어독문학'}
]
with open("C:/python_data/student.json" , "w") as f:
    json.dump(students, f, ensure_ascii=False)

In [809]:
with open("C:/python_data/student.json",'r') as f:
    students2 = json.load(f)
    print(students2)

[{'name': '이이름', 'age': 40, 'major': '컴퓨터과학'}, {'name': '김이름', 'age': 20, 'major': '영어영문학'}, {'name': '박이름', 'age': 24, 'major': '독어독문학'}]