## 파이썬 함수의 구조

```python
def 함수명(매개변수 정의):
    수행될 코드...
```

In [1]:
def add(num1, num2):
    return num1 + num2

In [3]:
result = add(10,20)
result

30

## 매개변수 기본값 설정
```python
def add(num1, num2 = 10):
    return  num1 + num2
```

> 매개변수의 기본값은 끝에서부터 차례대로 설정

In [4]:
def add(num1, num2 = 10):
    return num1 + num2

In [5]:
add(20)

30

## 가변 매개변수
- 매개변수에 *를 붙인다.
    - 입력한 값은 튜플로 담긴다
- 키워드 가변 매개변수
    - 매개변수에 **를 붙인다
    - 딕셔너리 형태로 값이 담긴다.

In [8]:
def calc(oper, *args):
    result = 0
    if oper == 'add':
        for num in args: result += num
    elif oper == 'mul':
        result = 1
        for num in args: result *= num
    return result

In [9]:
calc("add",10, 20,30,40)

100

In [10]:
calc('mul',10,20,30,40)

240000

In [11]:
# 파이썬 함수 이름 또는 변수의 이름을 짓는 경우 snake case 형태로 사용 단어와 단어 사이 _로 붙인다.
def print_value(**kwargs):
    print(kwargs)

In [12]:
print_value(name="이이름", age=40)

{'name': '이이름', 'age': 40}

In [13]:
def print_value(*args, **kwargs):
    print("args",args)
    print("kwargs",kwargs)

In [4]:
sum = 0
def add(*args):
    global sum
    for a in args:
        sum += a
    return sum

print(add(1,2,3))

6

In [14]:
print_value(10,20,30, name="이이름", age=40)

args (10, 20, 30)
kwargs {'name': '이이름', 'age': 40}

In [15]:
def calc(num1, num2):
    return num1 + num2, num1 - num2, num1*num2, num1/num2

In [16]:
result = calc(20, 10)
result

(30, 10, 200, 2.0)

In [19]:
add_result, sub_result, mul_result, div_result = calc(20,10)
print(add_result, sub_result, mul_result, div_result)

30 10 200 2.0

## 전역변수, 지역변수

> 순수함수 : 함수 내의 연산 결과가 전역 변수로 지정된 자원에 영향을 미치지 않는 함수 (부작용이 없는 함수)

In [ ]:
a = 100 # 전역변수
def calc():
    global a # 전역변수를 지역내에서 접근할때
    b = 200 # 지역변수
    return a + b

In [21]:
calc()

300

## 함수형 프로그래밍
- 매개변수로 함수를 사용
    - 사용자 정의 기능
- 반환값으로 함수를 사용
    - 팩토리 함수
    - 고차 함수
    - 함수 안에 함수를 정의할 수 있어야 함
- 람다식
```python
lambda 매개변수 정의: 실행될 내용
```

In [25]:
def calc(callback):
    num1 = 10
    num2 = 20

    result = callback(num1, num2)
    return result * result

In [26]:
def add(num1, num2):
    return num1+num2

In [27]:
calc(add)

900

In [28]:
def sub(num1, num2):
    return num1 - num2

In [29]:
calc(sub)

100

In [30]:
add1 = lambda a, b: a+b

In [32]:
add1(10,20)

30

In [33]:
calc(lambda a, b: a*b)

40000

In [34]:
def add(num1):

    def add2(num2):
        return num1 + num2
    
    return add2

In [35]:
add10 = add(10)

In [36]:
add10(20)

30

In [37]:
add(10)(20)

30

# 함수 안에 함수를 정의하고 실행
- 응용 사례 : 데코레이터

In [65]:
import time

def time_lapse(func):

    def wrapper(*args, **kwargs):
        start = time.time() # 함수 실행전 시간 측정

        result = func(*args, **kwargs)

        end = time.time() # 함수 실행 후 시간 측정

        print("걸린시간 %d" % (end - start))
        return result
    return wrapper

In [66]:
@time_lapse
def somefunc():
    print("어떤 기능 실행...")

In [67]:
somefunc()

어떤 기능 실행...
걸린시간 0

In [68]:
@time_lapse
def factorial(num):
    if num < 1:
        return 1

    return num * factorial(num -1)

In [69]:
factorial(10)

걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0

3628800

In [70]:
fact = time_lapse(factorial)

In [71]:
fact(10)

걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0
걸린시간 0

3628800