## 문자형
- ", '로 감싼 값
- \+ 연산자로 문자열 결합
- """ 또는 ''' 로 문자열을 감싸면 자유롭게 줄개행을 통해서 작성 가능
- """, '''로 여러줄 주석을 대체

In [1]:
a = '안녕하세요,'
type(a)

str

In [2]:
b = "반갑습니다."
type(b)

str

In [3]:
c = a + b
print(c)

안녕하세요,반갑습니다.

In [4]:
d = "안녕하세요.\n반갑습니다."
print(d)

안녕하세요.
반갑습니다.

In [5]:
'''
설명1
설명2
...
'''

e = """안녕하세요,
반갑습니다.
오늘 점심은 뭘 먹을까요?"""
print(e)

안녕하세요,
반갑습니다.
오늘 점심은 뭘 먹을까요?

In [6]:
a = "I love \"Python\" and \"java\""
print(a)

I love "Python" and "java"

### 문자열 연산
- \+ 문자열 결합
- \* 문자열 반복

In [7]:
"ABC" * 3

'ABCABCABC'

In [8]:
print('-' * 30)
print('메뉴 선택:')
print('-' * 30)

------------------------------
메뉴 선택:
------------------------------

In [9]:
len(a)

26

## 문자열 인덱싱 
- 각 문자 접근은 인덱스 연산사 \[\]를 통해서 접근
### 문자열 슬라이싱
- a\[시작번호:종료번호\] -> 시작번호 \<= a \< 종료 번호
- a\[시작번호:\] -> 시작번호 부터 끝까지
- a\[:종료번호] -> 종료번호 미만 문자열 모두 추출
- 인덱스 번호가 음수, 오른쪽 부터 위치를 계산
    - \-1 오른쪽 첫번째 문자
\> id\(..\) : 자원의 주소값을 확인
- a\[:] -> 전체 문자열 복사

In [10]:
a = "One Little, Two Little, Three Little Indians"

In [11]:
a[0]
a[1]
a[-1]

's'

In [12]:
a[0] + a[1] + a[2]

'One'

In [13]:
a[0:3] # 0,1,2

'One'

In [14]:
a[4:]

'Little, Two Little, Three Little Indians'

In [15]:
len(a)

44

In [16]:
a[37:]

'Indians'

In [17]:
a[-7:]

'Indians'

In [18]:
b = a[:-8]
print("a의 주소:", id(a))
print("b의 주소:", id(b))

a의 주소: 1913156997296
b의 주소: 1913157022496

In [19]:
b = "ABC"
print("주소:", id(b))
b += "DEF"
print("주소:", id(b))

주소: 140727695987504
주소: 1913157437552

In [20]:
a[0] = 'b' # 문자열은 불변하기 때문에 변경 불가가

TypeError: 'str' object does not support item assignment

In [ ]:
b = a[:] # b에 a의 문자열을 복사
c = a # c에 a의 문자열 객체의 주소 복사

print(a,"a의 주소:", id(a))
print(b,"b의 주소:", id(b))
print(c,"c의 주소:", id(c))

One Little, Two Little, Three Little Indians a의 주소: 2900801345968
One Little, Two Little, Three Little Indians b의 주소: 2900801345968
One Little, Two Little, Three Little Indians c의 주소: 2900801345968

## 문자열 형식화
- %d : 정수
- %f : 실수
    - %10.4f -> 전체 자리수는 10자(정수 부분 + 소수점자리)에서 소수점은 4자리까지만 출력
    - %.4f -> 소수점 자리수만 4자리로 한정(자바X)
    - %0.4f -> (자바O)
- %s : 문자
    - %10s -> 왼쪽부터 최소 10자, 10자가 안되는 경우 왼쪽부터 공백으로 채워준다.
    - %-10s -> 오른쪽 부터 최소 10자, 10자가 안되는 경우 오른쪽부터 공백으로 채워준다.

### 적용방법
- "형식화된 문자열" % 대체될 값
- "형식화된 문자열(대체될 부분이 여러개 인 경우)" % (값1, 값2, ...)
- 형식화 할때 %를 문자열로 사용하는 경우 %%로 대체
- 문자열 객체의 함수 중에서 format 함수 사용
    - 형식화할때 치환될 부분을 \{0}, {1}로 수선 번호 형태로 지정
    - 형식화할때 치환될 부분을 직접 이름형태로 저장할 수도 있음 {number}, {day}
    - 숫자와 이름을 혼용해서 형식화 문자열을 작성
    - {0:\<10} : 최소 10자리, 남는 자리수를 오른쪽 부터 공백
        - {0:\_<10} : 최소 10자리 남는 자리수를 오른쪽 부터 _로 채워 넣는다
    - {0:\>10} : 최소 10자리, 남는 자리수를 왼쪽 부터 공백
        - {0:\_>10} : 최소 10자리 남는 자리수를 왼쪽 부터 _로 채워 넣는다
    - {0:^10} : 최소 10자리, 남는 자리수는 좌우 균등하게 분배
        - {0:\_<10} : 최소 10자리 남는 자리수에 좌우 균등하게 _로 채워 넣는다
    - {0:10.4f} : 최소 10자리(정수부 + 소수점)를 유지, 소수점은 4자리로 한정
        - {0:.4f} : 소수점만 4자리로 한정

- 문자열 앞에 "f", 파이썬 3.6부터 추가, 변수 그 자체를 문자열에 추가

In [ ]:
"I drink %d cup of coffee and %d piece of cake" % (10, 20)

'I drink 10 cup of coffee and 20 piece of cake'

In [ ]:
"I drink %s cup of coffee and %s piece of cake" % ('ten', '20')

'I drink ten cup of coffee and 20 piece of cake'

In [ ]:
"빵 %10s, " % "Apple"

'빵      Apple, '

In [ ]:
"%-10s," % "apple"

'apple     ,'

In [ ]:
"%10.4f," % 1234

' 1234.0000,'

In [ ]:
a = 100.12345678
print("숫자: %f" % a)
print("숫자: %10.4f" % a)
print("숫자: %.4f" % a)
print("숫자: %0.4f" % a)

숫자: 100.123457
숫자:   100.1235
숫자: 100.1235
숫자: 100.1235

In [ ]:
"완료까지 %d%% 입니다." % 85

'완료까지 85% 입니다.'

In [ ]:
"I drink {0} cup of coffee and {1} piece of cake".format(5,"아")

'I drink 5 cup of coffee and 아 piece of cake'

In [ ]:
"I drink {number1} cup of coffee and {number2} piece of cake".format(number1=5,number2="아")
"I drink {number1} cup of coffee and {number2} piece of cake".format(number2=5,number1="아")

'I drink 아 cup of coffee and 5 piece of cake'

In [ ]:
coffee = 5
cake = 3
f"I drink {coffee} cup of coffee and {cake} piece of cake"

'I drink 5 cup of coffee and 3 piece of cake'

In [ ]:
"***{0:<10}***,***{1:>10}***,***{2:^10}***".format("Apple", "Apple", "Apple")

'***Apple     ***,***     Apple***,***  Apple   ***'

In [ ]:
"***{0:_<10}***,***{1:_>10}***,***{2:_^10}***".format("Apple", "Apple", "Apple")

'***Apple_____***,***_____Apple***,***__Apple___***'

In [ ]:
"***{0:#<10}***,***{1:0>10}***,***{2:&^10}***".format("Apple", "Apple", "Apple")

'***Apple#####***,***00000Apple***,***&&Apple&&&***'

In [ ]:
print("{0:10.4f}".format(100.12345678))
print("{0:.4f}".format(100.12345678))

  100.1235
100.1235

### f 형식화
- 문자열 앞에 f를 붙이면 된다.
- 변수를 직접 형식화 문자열에 출력
- 간단한 연산, 함수 호출도 가능
- {값:\<10} -> 최소 10자리, 남은 자리수는 오른쪽 공백
    - {값:!\<10} -> 최소 10자리, 남은 자리수는 !로 채워 넣는다
- {값:\>10} -> 최소 10자리, 남은 자리수는 왼쪽 공백
- {값:\^10} -> 최소 10자리, 남은 자리수는 좌우 균등하게 공백
- {실수:10.4f} -> 정수 + 소수점 자리가 최소 10자리, 소수점은 4자리로 한정
- {실수:.4f} -> 소수점은 4자리로 한정
- { }를 문자 그대로 사용하는 경우 {{}}

In [ ]:
name = "이이름"
age = 40
num = 10

In [ ]:
f'이름: {name}, 나이: {age}, 숫자: {num}'

'이름: 이이름, 나이: 40, 숫자: 10'

In [ ]:
f'이름: {name:<10}, 나이: {age:>10}, 숫자: {num:^10}'

'이름: 이이름       , 나이:         40, 숫자:     10    '

In [ ]:
f'이름: {name:!<10}, 나이: {age:@>10}, 숫자: {num:=^10}'

'이름: 이이름!!!!!!!, 나이: @@@@@@@@40, 숫자: ====10===='

In [ ]:
num = 1000.12345678
f'{num:10.4f}'

' 1000.1235'

In [ ]:
f'{num + 100:0.4f}'

'1100.1235'

In [ ]:
f'{{}}'

'{}'

### 문자열 관련 함수들
- 문자 개수 세기 - count
    - 문장에서 특정 문자가 몇번 등장하는지

- 위치 알려 주기 1 - find
    - 지정된 문자를 못찾은 경우 -1 값을 반환

- 위치 알려주기 2 - index
    - 지정된 문자를 못찾은 경우 예외가 발생

- 특정 문자열로 결합하여 문자열 생성 - join
    - 문자열 외에 list, tuple 사용 가능
- 소문자 -> 대문자 - upper
- 대문자 -> 소문자 - lower
- 공백 제거 - strip / 좌, 우 공백 제거
    - lstrip - 왼쪽 여백 제거
    - rstrip - 오른쪽 여백 제거

- 문자열 치환 - replace
- 문자열 나누기 - split
    - 문자열 분리 구분문자를 지정하지 않으면 공백 기준에서 분리

In [ ]:
a = "One Little, Two Little, Three Little Indians"

In [ ]:
a.count("Little")

3

In [ ]:
a.find('Little')

4

In [ ]:
a.index('Little')

4

In [ ]:
a.find('Big')

-1

In [ ]:
a.index('Big')

ValueError: substring not found

In [ ]:
a = 'abcd'
'#'.join(a)

'a,b,c,d'

In [ ]:
fruits =['apple','orange', 'banana', 'mango']
','.join(fruits)

'apple,orange,banana,mango'

In [ ]:
a = "      ABC              "
print(a)

      ABC

In [ ]:
a + 'DEF'

'      ABC              DEF'

In [ ]:
a.strip() + "DEF"

'ABCDEF'

In [ ]:
a.lstrip() + "DEF"

'ABC              DEF'

In [ ]:
a.rstrip() + "DEF"

'      ABCDEF'

In [ ]:
a = "One Little, Two Little, Three Little Indians"
a.replace("Little","Big")

'One Big, Two Big, Three Big Indians'

In [ ]:
a = "Apple Orange Melon Mango"
a.split() # 공백을 기준으로 문자열을 분리

['Apple', 'Orange', 'Melon', 'Mango']

In [ ]:
a = "Apple,Orange,Melon,Mango"
a.split(',')

['Apple', 'Orange', 'Melon', 'Mango']