In [1]:
fruits = ['Apple','Orange','Banana','Melon','Mango']

In [3]:
i = 0
for item in fruits:
    print(i, item)
    i += 1

0 Apple
1 Orange
2 Banana
3 Melon
4 Mango

In [9]:
for i, item in enumerate(fruits):
    print(i, item)

0 Apple
1 Orange
2 Banana
3 Melon
4 Mango

In [10]:
data = "[1,2,3,4]"
type(data)

str

In [12]:
data2 = eval(data)
print(data2)
print(type(data2))

[1, 2, 3, 4]
<class 'list'>

In [13]:
nums = list(range(0,101))
nums[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
def predicate(x):
    return x % 2 == 1

odds = list(filter(predicate, nums))
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [17]:
odds = list(filter(lambda x: x%2 == 1, nums))
odds[:20]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [23]:
a = IndexError()

In [24]:
isinstance(a, Exception)

True

In [25]:
isinstance(a, IndexError)

True

In [26]:
fruits = ['Apple','Orange','Banana','Melon','Mango']

In [30]:
fruits_len = list(map(len,fruits))
fruits_len

[5, 6, 6, 5, 5]

In [32]:
fruits2 = list(map(lambda s: '♥'+s+'♥', fruits))
fruits2

['♥Apple♥', '♥Orange♥', '♥Banana♥', '♥Melon♥', '♥Mango♥']

In [33]:
print(pow(2,3))
print(2**3)

8
8

In [36]:
nums = [10,20,30,40,50,60]
alpha = ['A','B','C']

In [37]:
data = list(zip(nums,alpha))
data

[(10, 'A'), (20, 'B'), (30, 'C')]